<a routerLink="/Card">{{ title }}</a>

<p (click)="updateLink()" class="card">card works!</p>
<p *ngIf="showCard" class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dolorem.</p>
<p class="card">Nihil odio explicabo, nulla officiis aspernatur in deserunt accusantium libero!</p>
<p class="card">Eos quibusdam debitis ipsam aspernatur, aliquam minus nulla et pariatur?</p>