<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <app-wolf-list></app-wolf-list>
  <app-card></app-card>
</div> -->
<router-outlet></router-outlet>
