<h1>Lista de Lobos</h1>

<div class="wolf-list-item" *ngFor="let lobo of wolf">
<p><span>Nome:</span> {{lobo.name}}</p>
<p><span>Idade:</span> {{lobo.age}}</p>
<p><span>Descrição:</span> {{lobo.description}}</p>
<p><img [src]="lobo.photo"></p>
<button (click)="goToShow(id)">Show desse lobo</button>


</div>
